<!--Addphoto modal containing:
Add photo button and the following input id:      *input becomes:
  photo upload link:  id="item-url-input"           {{photoURL}}
  Name                id="item-name-input"           {{name}}
  price:              id="price-input"               {{price}}
  QTY:                id="qty-input"                {{quantity}}
  Description:        id="item-description-input"   {{description}}
JS events needed:
modal-cancel: exits modal
modal-accept: adds item at end of class="content-container"
-->
<div id="modal-backdrop" class="hidden"></div>
<div id="add-item-modal" class="hidden">
  <div class="modal-dialog">
    <div class="modal-header">
      <h3>Add a Photo</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
  <div class="item-input-element">Item Name
      <label for="item-name-input">{{name}}</label>
        <input type="text" id="item-name-input">
      </div>
  <div class="item-input-element">Photo URL
    <label for="item-url-input">{{photoURL}}</label>
    <input type="text" id="item-url-input">
  </div>
  <div class="item-input-element">Price
    <label for="price-input">{{price}}</label>
    <input type="text" id="price-input">
  </div>
  <div class="item-input-element">QTY
    <label for="qty-input">{{quantity}}</label>
    <input type="text" id="qty-input">
  </div>
  <div class="item-input-element">Description
    <label for="item-description-input">{{description}}</label>
    <input type="text" id="item-description-input"></input>
  </div>

<div class="modal-footer">
  <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
  <button type="button" id="modal-accept" class="action-button">Add Item</button>
</div>

</div>
</div>
