
<div id="modal-bdrop" class="hidden"></div>
<section class="item-module">
  <div class="item-name">
    {{name}}
    <button type="button" class="modal-close-button">&times;</button>
  </div>
  <div class="img-container">
    <img class="item-photo-img" src="{{photoURL}}" />
  </div>
  <div class="item-price">
    {{price}}
  </div>
  <div class= "item-quantity">
    {{quantitiy}}
  </div>
  <div class="item-Description">
    {{Description}}
  </div>
  <button type="button" id="add-cart-button" class="action-button">Add To Cart</button>
</div>
</section>
