<!--individual photobox containing:
{{photoURL}}
{{name}}
{{price}}
{{description}}
-->
<section class="photo-box">
  <div class="img-container">
    <img class="item-photo-img" src="{{photoURL}}" />
  </div>
  <div class="item-name">
    {{name}}
  </div>
  <div class="item-price">
    {{price}}
  </div>
  <div class="item-Description">
    {{description}}
  </div>
</section>
